    <div class="nav-container sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
        <a class="navbar-brand" href="/home">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home"><i class="fas fa-home"></i>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactanos"><i class="fas fa-paper-plane"></i>Contáctanos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faq"><i class="far fa-question-circle"></i>FAQ</a>
            </li>
            <li class="nav-item">
              <form class="form-inline form-nav">
                <input class="form-control mr-sm-2 search-input ml-4" type="search" placeholder="Necesitas algo... ?" aria-label="Search">
                <button class="btn my-2 my-sm-0 submit-button" type="submit"><i class="fas fa-search"></i></button>
              </form>
            </li>
          </ul>
          <a class="btn btn-outline-secondary iniciar-sesion mr-2" href="/users/login">Iniciar Sesión</a>
          <a class="nav-link" href="/users/register">Regístrate</a>
        </div>
      </nav>
    </div>
