<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Document</title>
</head>
<body class="body-contactalo">
    <%- include('partials/nav') %>
    <div class="container-contactalo card">
        <div class="card-header">
            <p>Prof. Pablo ***</p><p><a href="#">Ver Perfil</a></p>
        </div>
        <table class="table table-borderless text-center tabla-contactalo">
            <tr>
                <td>Ubicación</td><td><i class="fas fa-map-pin"></i></td><td>Yerba Buena</td>
            </tr>
            <tr>
                <td>Materia</td><td><i class="fas fa-angle-right"></i></td><td>Matemáticas</td>
            </tr>
            <tr>
                <td>Costo</td><td><i class="fas fa-dollar-sign"></i></td><td>$250/Hora</td>
            </tr>
            <tr>
                <td>Horario</td><td><i class="far fa-clock"></i></td><td>Acordar con el prof.</td>
            </tr>
            <tr>
                <td>Contacto</td><td><i class="fas fa-comments"></i></td><td><a href="#">Iniciar Sesión</a></td>
            </tr>
        </table>
    </div>
    <%- include('partials/footer'); %>
</body>
<%- include('partials/scripts'); %>
</html>