<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Document</title>
</head>
<body class="contactanos-body">
    <%- include('partials/nav') %> 
    <div class="container-contactanos w-75 mx-auto pt-5 pl-5">
        <div class="container-img-contactanos">
            <div class="container-area">
                <img src="images/contactanos/enviamail-img.png" class="contactanos-img mx-auto img-fluid">
                <div class="row mx-auto w-75 mt-3">
                    <div class="col-4 font-weight-bolder">
                        ¿Necesitas Ayuda?
                    </div>
                    <div class="col-8">
                        Respondemos rápido. help@profparticular.com
                    </div>
                </div>
            </div>
            <div class="container-area">
                <img src="images/contactanos/faq-img.png" class="contactanos-img mx-auto img-fluid">
                <div class="row mx-auto w-75 mt-3">
                    <div class="col-4 font-weight-bolder">
                        ¿Tienes preguntas?
                    </div>
                    <div class="col-8">
                        Asegúrate de revisar nuestra <a href="#">FAQ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-contactanos w-75 mx-auto pl-5 py-5">
        <div class="container-img-contactanos">
            <div class="container-area">
                <img src="images/contactanos/profesor-img2.png" class="contactanos-img mx-auto img-fluid">
                <div class="row mx-auto w-75 mt-3">
                    <div class="col-4 font-weight-bolder">
                        ¿Eres profesor?
                    </div>
                    <div class="col-8">
                        Regístrate. Tu solicitud será revisada a la brevedad.
                    </div>
                </div>
            </div>
            <div class="container-area">
                <img src="images/contactanos/estudiante-img.png" class="contactanos-img mx-auto img-fluid">
                <div class="row mx-auto w-75 mt-3">
                    <div class="col-4 font-weight-bolder">
                        ¿Eres estudiante?
                    </div>
                    <div class="col-8">
                        Encuentra tu profesor. Visita la <a href="#">Home</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); %>
</body>
<%- include('partials/scripts'); %>
</html>