<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Document</title>
</head>
<body class="body-contactalo">
    <%- include('partials/nav') %>
    <div class="container-contactalo card">
        <div class="card-header">
            Prof. Pablo ***
        </div>
        <table class="table table-borderless text-center tabla-contactalo">
            <tr>
                <td>Ubicación</td><td>Yerba Buena</td>
            </tr>
            <tr>
                <td>Materia</td><td>Matemáticas</td>
            </tr>
            <tr>
                <td>Costo</td><td>$250/Hora</td>
            </tr>
            <tr>
                <td>Horario</td><td>Acordar con el prof.</td>
            </tr>
            <tr>
                <td>Contacto</td><td><a href="#">Iniciar Sesión</a></td>
            </tr>
        </table>
    </div>
    <%- include('partials/footer'); %>
</body>
<%- include('partials/scripts'); %>
</html>