.footer-completo{
    background-color:#CAF0F8;
}
.footer-copyright{
    background-color: #90E0EF;
}
footer a{
    color:black;
}
footer a:hover{
    color:black;
    text-decoration:none;
}
.container-footer{
    padding-top: 7px;
}