.footer-completo{
    background-color:whitesmoke;
}
.footer-copyright{
    background-color: wheat;
}
footer a{
    color:black;
}
footer a:hover{
    color:black;
    text-decoration:none;
}
.container-footer{
    padding-top: 7px;
}