.footer-completo{
    background-color:whitesmoke;
    border-top: 0.1em solid rgb(225, 228, 232);
    margin-top: 5%;
}
.footer-copyright{
    background-color: white;
    border: 0.1em solid rgb(225, 228, 232);
}
footer a{
    color:black;
}
footer a:hover{
    color:black;
    text-decoration:none;
}
.container-footer{
    padding-top: 7px;
}