.fa-home,
.fa-paper-plane,
.fa-question-circle {
    margin-right: 0.4em;
}

.search-input {
    background-color: white;
    width: 13em !important;
    transition: width 0.2s;
    height: 35px;
}

.search-input::placeholder {
    color: black !important;
    opacity: 0.7;
}

.search-input:focus::placeholder {
    opacity: 0.4;
}

.search-input:focus {
    width: 20em !important;
}

.submit-button {
    color: rgba(0,0,0,0.8);
    background-color: white;
    border-color: black;
}

.submit-button:hover {
    color: black;
    background-color: rgba(255,255,255,0.8)
}

.iniciar-sesion-nav {
    background-color: white;
    color: rgba(0,0,0,0.8);
}

.iniciar-sesion-nav:hover {
    color: rgba(0,0,0,1);
    background-color: rgba(255,255,255,0.9);
}

.nav-container nav > div > a:nth-of-type(2n) { /* Botón de Register */
    color: white;
}

@media screen and (max-width: 991px) {
    .form-nav {
        display: none;
    }

    .iniciar-sesion {
        margin-top: 0.6em;
    }
}