body {
    background-color: white !important;
}

.fa-home,
.fa-paper-plane,
.fa-question-circle {
    margin-right: 0.4em;
}

.navbar {
    background-color: #CAF0F8 !important;
}

.search-input {
    background-color: #ADE8F4;
    width: 13em !important;
    transition: width 0.2s;
}

.search-input::placeholder {
    color: black !important;
    opacity: 0.7;
}

.search-input:focus::placeholder {
    color: black !important;
    opacity: 0.38;
}

.search-input:focus {
    background-color: #CAF0F8;
    color: black;
    border-color: #48CAE4;
    width: 20em !important;
}

.submit-button {
    color: black;
    background-color: #ADE8F4;
    border-color: #03045E;
}

.submit-button:hover {
    color: #ADE8F4;
    background-color: #0077B6;
}

.iniciar-sesion {
    background-color: #023E8A;
    color: white;
}

.iniciar-sesion:hover {
    background-color: #F7F0F5; 
    color: black;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
}

@media screen and (max-width: 991px) {
    .form-nav {
        display: none;
    }

    .iniciar-sesion {
        margin-top: 0.6em;
    }
}