.imagen-contactanos {
    height: 120px;
    width: 120px;
}

.container-contactanos {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #DECBB7;
}

.contactanos-body {
    background-color: #8F857D;
}

.contactanos-img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.container-img-contactanos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-area {
    display:flex;
    flex-direction: column;
}