.fa-home,
.fa-paper-plane,
.fa-question-circle {
    margin-right: 0.4em;
}

.navbar {
    background-color: #DECBB7 !important;
}

.search-input {
    background-color: #5C5552;
    width: 13em !important;
    transition: width 0.2s;
}

.search-input::placeholder {
    color: #F7F0F5 !important;
    opacity: 0.7;
}

.search-input:focus::placeholder {
    color: black !important;
    opacity: 0.38;
}

.search-input:focus {
    background-color: #F7F0F5;
    color: black;
    border-color: #5C5552;
    width: 20em !important;
}

.submit-button {
    color: #F7F0F5;
    background-color: #433633;
    border-color: #5C5552;
}

.submit-button:hover {
    color: #433633;
    background-color: #F7F0F5;
    border-color: #5C5552;
}

.iniciar-sesion:hover {
    background-color: #F7F0F5; 
    color: black;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
}

@media screen and (max-width: 991px) {
    .form-nav {
        display: none;
    }

    .iniciar-sesion {
        margin-top: 0.6em;
    }
}