.navbar {
    background-color: #DECBB7 !important;
}

.search-input {
    background-color: #5C5552;
    width: 13em !important;
    transition: width 0.2s;
}

.fa-home,
.fa-paper-plane {
    margin-right: 0.4em;
}

.search-input::placeholder {
    color: #F7F0F5 !important;
    opacity: 0.7;
}

.search-input:focus::placeholder {
    color: black !important;
    opacity: 0.38;
}

.search-input:focus {
    background-color: #F7F0F5;
    color: black;
    border-color: #5C5552;
    width: 20em !important;
}

.submit-button {
    color: #F7F0F5;
    background-color: #433633;
    border-color: #5C5552;
}

.submit-button:hover {
    color: #433633;
    background-color: #F7F0F5;
    border-color: #5C5552;
}

.navlinks-container,
.login-container {
    display: flex;
    flex-direction: row;
}

.navbar-nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iniciar-sesion:hover {
    background-color: #F7F0F5; 
}